
.encabezado{
	display: flex;
	justify-content: space-between;
	padding: 10px 10%;
	background-color: #6495ed;
	color: white;
}
.navg1, .navg2, .navg3, .navg4, .navg5, .navg6{
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: white;

}