
.encabezado{
	display: flex;
	justify-content: space-between;
	padding: 10px 10%;
	background-color: #6495ed;
	color: white;
}
.navg1, .navg2, .navg3, .navg4, .navg5, .navg6{
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: white;

}
.container1{

	display: grid;
	grid-template-columns: 250px repeat(3, auto);
	grid-template-rows: 300px 300px 300px;
	grid-template-areas:
	"prod1 prod1 prod1"
	"prod1 prod1 prod1"
	"prod1 prod1 prod1"; 

}
.product1{
	grid-area:prod1;


}